<section class="container">
    <section class="row text-center mt-1">
        <div class="col-sm-12" id="header">
            <h1>Eat Da Burger</h1>
        </div>
    </section>
    <section id="burger-input">
        <div class="row text-center">
            <div class="col-sm-12">
                <h2>Create Da Burger</h2>
                <form class="create-form" action="/api/burgers" method="POST">
                    <div class="form-group">
                        <label for="da-burger">Dream Da Burger</label><br>
                        <input type="text" id="da-burger" name="name">
                    </div>
                    <button type="submit">Cook Da Burger</button>
                </form>
            </div>
        </div>
    </section>
    <section id="burger-display">
        <div class="row text-center">
            <div class="col-sm-6">
                <div class="card mt-6" style="width: 90%;">
                    <img class="card-img-top" id="plate-img" src="/assets/img/plate1.jpg" alt="Plate Image">
                    <div class="card-body">
                        <h5 class="card-title">Eat-Da-Burger</h5>
                        <ul>
                            {{#each burgers}}
                            {{#unless this.devoured}}
                            {{!-- <li> --}}<p>
                                {{!-- <a class="eat-burger" data-id="{{id}}"> --}}
                                {{this.burger_name}}
                                {{!-- </a> --}}
                                <button class="eat-burger" data-id="{{id}}">
                                    Um-Num!
                                </button>
                            {{!-- </li> --}}</p>
                            {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mt-6" style="width: 90%;">
                    <img class="card-img-top" id="tummy-img" src="/assets/img/stomach1.jpg" alt="Tummy Image">
                    <div class="card-body">
                        <h5 class="card-title">Digest-Da-Burger</h5>
                        <ul>
                            {{#each burgers}}
                            {{#if this.devoured}}
                            <li>
                                {{this.burger_name}}
                                <button class="delete-burger" data-id="{{id}}">
                                    Burp!
                                </button>
                            </li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{!-- <h2>Digest Da Burger</h2>
                <ul>
                    {{#each burgers}}
                    {{#if this.devoured}}
                    <li>
                        {{this.burger_name}}
                        <button class="delete-burger" data-id="{{id}}">
                            Poo-Da-Burger
                        </button>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul> --}}
            </div>
        </div>
    </section>
</section>